version: '3'
services:
  minecraft:
    image: itzg/minecraft-server
    environment:
      EULA: "TRUE"
      CONSOLE: "false"
      ENABLE_RCON: "true"
      RCON_PASSWORD: "testing"
      RCON_PORT: 28016
      VERSION: "1.12.2"
      TYPE: "FORGE"
      MAX_MEMORY: 8G
    ports:
      - 25565:25565
    volumes:
      - "./mc-server-files:/data"
    restart: always
  rcon:
    image: itzg/rcon
    ports:
      - 4326:4326
      - 4327:4327
    volumes:
      - "./rcon:/opt/rcon-web-admin/db"
