# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=9bc84bbd-b7a9-4cf7-80b5-d11b42a49bbf

    # Set to true to disable all reporting
    B:opt-out=false
}


